<header class="header">

  <div class="header-left">
    <h1><a routerLink="/home">Home</a></h1>
  </div>

  <nav class="header-nav">
    <a routerLink="/post">
      Post
    </a>
    <a routerLink="/info">
      {{'Show Info'|translate}}
    </a>
  </nav>


  <div class="header-right">
    <nav class="link-list">
      <a routerLink="/account" class="link-item">
        {{'SignUp' | translate}}
      </a>
      <a routerLink="/login" class="link-item">
        {{'SignIn' | translate}}
      </a>
      <div class="changeLanguage">
        <select (change)="changeLang($event)">
          <option value="en" [selected]="LANGUAGE=='en'">English</option>
          <option value="vi" [selected]="LANGUAGE=='vi'">{{"Vietnamese" | translate }}</option>
          <option value="jp" [selected]="LANGUAGE=='jp'">Japan</option>
        </select>
      </div>
    </nav>
  </div>

</header>
