<div class="app">
  <div class="wrapper">
    <h2 class="title">Đăng ký</h2>
    <form [formGroup]="fgRegister"
          class="form-div"
          (ngSubmit)="onSubmit(fgRegister)"
    >
      <div class="wrapper-form">

        <div class="form-item">
          <ng-container *ngTemplateOutlet="tmplInput; context: contextSurname"></ng-container>
          <ng-container *ngTemplateOutlet="tmplInput; context: contextName"></ng-container>
        </div>
        <span *ngIf="isSubmit
                    && (
                      fgRegister.controls['inputSurname'].errors
                      || fgRegister.controls['inputName'].errors
                    )
                    "
              class="item-error"
        >
          Hãy nhập {{ fgRegister.controls['inputSurname'].errors ? 'họ ' : '' }}
          {{ fgRegister.controls['inputSurname'].errors && fgRegister.controls['inputName'].errors ? 'và ' : ''}}
          {{ fgRegister.controls['inputName'].errors ? 'tên ' : ''}}
        </span>

        <div class=" form-item form-email">
          <ng-container *ngTemplateOutlet="tmplInput; context: contextEmail"></ng-container>
        </div>
        <span *ngIf="isSubmit
                     && fgRegister.hasError('emailNotEnoughLength')"
              class="item-error"
        >
          {{fgRegister.errors['messageEmail']}}
        </span>
        <span *ngIf="isSubmit
                    && fgRegister.get('inputEmail').errors
                    && !fgRegister.hasError('emailNotEnoughLength')"
              class="item-error"
        >
          {{
          isSubmit
          && fgRegister.get('inputEmail').errors
          && !fgRegister.hasError('emailNotEnoughLength') ? 'Sai định dạng email' : ''
          }}
        </span>
        <span class="email-supp">Sử dụng chữ cái, số và dấu chấm</span>

        <div class="form-item left">
          <label class="label-item">
            {{contextDate.displayName + ': '}}
          </label>
          <ng-container *ngTemplateOutlet="tmplInput; context: contextDate"></ng-container>
        </div>

        <div class="form-item left">
          <span class="label-item">
            {{contextMale.displayName + ': '}}
          </span>
          <div class="gender-item">
            <label [for]="contextMale.id">
              {{contextMale.valueMale}}
            </label>
            <ng-container *ngTemplateOutlet="tmplInput; context: contextMale"></ng-container>
          </div>
          <div class="gender-item">
            <label [for]="contextFeMale.id">
              {{contextFeMale.valueMale}}
            </label>
            <ng-container *ngTemplateOutlet="tmplInput; context: contextFeMale"></ng-container>
          </div>
        </div>

        <div class="form-item form-password">
          <ng-container *ngTemplateOutlet="tmplInput; context: contextPassword"></ng-container>
          <ng-container *ngTemplateOutlet="tmplInput; context: contextConfirm"></ng-container>
        </div>
        <span *ngIf="isSubmit &&
                     fgRegister.hasError('invalid')"
              class="item-error"
        >
          {{fgRegister.errors['message']}}
        </span>

        <div class="confirmPass">
          <input type="checkbox" id="checkPass" (click)="showPass()" class="checkPass">
          <label for="checkPass">
            Hiện mật khẩu
          </label>
        </div>

      </div>
      <button class="btn-submit" type="submit">Tiếp theo</button>

      <ng-template #tmplInput
                   let-controlName="controlName"
                   let-displayName="displayName"
                   let-type="type"
                   let-id="id"
      >
        <input
          [formControlName]="controlName"
          [type]="type"
          [id]="id"
          [name]="controlName"
          [placeholder]="displayName"
          [ngClass]="{'input-error' : (isSubmit
                     && fgRegister.get(controlName).errors
                     && fgRegister.get(controlName).touched
                     &&fgRegister.hasError('invalid'))}
                    "
          class="item-input"
        >
      </ng-template>

    </form>

  </div>

</div>




