<app-home></app-home>
<div class="app">
  <div class="wrapper">
    <div class="wrapper-header">
      <h2 class="title">{{ 'Signup' | translate }}</h2>
      <div class="changeLanguage">
        <select name="" id="" (change)="changLang($event)">
          <option value="vi" [selected]="lang=='vi'">Việt Nam</option>
          <option value="en" [selected]="lang=='en'">English</option>
          <option value="jp" [selected]="lang=='jp'">Japan</option>
        </select>
      </div>
    </div>

    <form [formGroup]="fgRegister"
          class="form-div"
          (ngSubmit)="onSubmit(fgRegister)"
    >
      <div class="wrapper-form">

        <div class="form-item">
          <ng-container *ngTemplateOutlet="tmplInput; context: contextSurname"></ng-container>
          <ng-container *ngTemplateOutlet="tmplInput; context: contextName"></ng-container>
        </div>
        <span *ngIf="isSubmit
                    && (
                      fgRegister.controls['inputSurname'].errors
                      || fgRegister.controls['inputName'].errors
                    )
                    "
              class="item-error"
        >
<!--          Hãy nhập {{ fgRegister.controls['inputSurname'].errors ? 'họ ' : '' }}-->
<!--          {{ fgRegister.controls['inputSurname'].errors && fgRegister.controls['inputName'].errors ? 'và ' : ''}}-->
<!--          {{ fgRegister.controls['inputName'].errors ? 'tên ' : ''}}-->
          {{fgRegister.errors['messageName'] | translate}}
        </span>

        <div class=" form-item form-email">
          <ng-container *ngTemplateOutlet="tmplInput; context: contextEmail"></ng-container>
        </div>
        <span *ngIf="isSubmit
                     && fgRegister.hasError('emailNotEnoughLength')"
              class="item-error"
        >
          {{fgRegister.errors['messageEmail'] | translate}}
        </span>
        <span *ngIf="isSubmit
                    && fgRegister.get('inputEmail').errors
                    && !fgRegister.hasError('emailNotEnoughLength')"
              class="item-error"
        >
          {{
          (isSubmit
          && fgRegister.get('inputEmail').errors
          && !fgRegister.hasError('emailNotEnoughLength') ? 'Wrong email format' : ''
            ) | translate}}
        </span>
        <span class="email-supp">{{ 'Use letters, numbers, and periods' | translate}}</span>

        <div class="form-item left">
          <label class="label-item">
            {{'Date' | translate}}{{':'}}
          </label>
          <ng-container *ngTemplateOutlet="tmplInput; context: contextDate"></ng-container>
        </div>

        <div class="form-item left">
          <span class="label-item">
            {{'Gender' | translate}}{{':'}}
          </span>
          <div class="gender-item">
            <label for="male">
              Male
              <input id="male" type="radio" value="male" name="inputGender" formControlName="inputGender">
            </label>
          </div>
          <div class="gender-item">
            <label for="female">
              Female
              <input id="female" type="radio" value="female" name="inputGender" formControlName="inputGender">
            </label>
          </div>
        </div>

        <div class="form-item form-password">
          <ng-container *ngTemplateOutlet="tmplInput; context: contextPassword"></ng-container>
          <ng-container *ngTemplateOutlet="tmplInput; context: contextConfirm"></ng-container>
        </div>
        <span *ngIf="isSubmit &&
                     fgRegister.hasError('invalid')"
              class="item-error"
        >
          {{fgRegister.errors['message'] | translate}}
        </span>

        <div class="confirmPass">
          <input type="checkbox" id="checkPass" (click)="showPass()" class="checkPass">
          <label for="checkPass">
            {{'Show password' | translate}}
          </label>
        </div>

      </div>
      <div class="form-item">
        <button class="btn-submit" type="submit">{{ 'Next' | translate}}</button>
      </div>

      <ng-template #tmplInput
                   let-controlName="controlName"
                   let-displayName="displayName"
                   let-type="type"
                   let-id="id"
                   let-value="value"
      >
        <input
          [formControlName]="controlName"
          [type]="type"
          [id]="id"
          [placeholder]="displayName | translate"
          [ngClass]="{'input-error' : (isSubmit
                     && fgRegister.get(controlName).errors
                     && fgRegister.get(controlName).touched
                     &&fgRegister.hasError('invalid'))}
                    "
          class="item-input"
        >
      </ng-template>

    </form>

  </div>
  <!--  <app-verify *ngIf="isNext"[infor] = "account"></app-verify>-->
</div>




