
.app {
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "arial", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  height: fit-content;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 40px;
}

.wrapper-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.wrapper-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: inherit;
  justify-content: space-between;
}

.form-item {
  width: 100%;
  display: flex;
  gap: 5px;

}

.form-item input {
  width: 100%;
}

.form-email input {
  width: 100%;
}

.form-password {
  margin-top: 30px;
}

.email-supp {
  color: #7b7b7b;
}

.item-input {
  outline: none;
  display: block;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
  transition: .2s;
}

.item-error {
  display: block;
  color: #e21111;
  font-size: 13px;
  grid-column-start: 1;
  grid-column-end: 5;
}

.btn-submit {
  margin-top: 20px;
  background-color: #277af6;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-submit a {
  text-decoration: none;
  color: white;
}

.btn-submit:hover {
  background-color: #1759b2;
}

.input-error {
  outline: none;
  border: 2px solid #f30d0d;
}

.item-input:focus {
  outline: none;
  border: 2px solid #277af6;
  box-shadow: 0 0 2px 1px #277af6;
}
.input-error:focus{
  outline: none;
  border: 2px solid #f30d0d;
  box-shadow: 0 0 2px 1px #f30d0d;
}

.label-item{
  width: 100px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  color: #7b7b7b;
}

.gender-item{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.gender-item:first-of-type{
  padding-left: 5px;
}

.gender-item label{
  font-size: 12px;
  display: flex;
  flex-direction: row-reverse;
}

.gender-item input[type="radio"],
.gender-item input[type="radio"]:focus
{
  margin-top: 0;
  outline: 0;
  box-shadow: none;
}
.left{
  justify-content: flex-start;
  gap: 20px;

}

.confirmPass {
  flex-direction: row;
}

.checkPass {
  width: 20px;
  border: 1px solid #333;
}

.changeLanguage select {
  outline: none;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 4px;
}


